<!DOCTYPE html>
<html>
    <head>
        <title>Batch Details</title>
        <link rel="stylesheet" href="bootstrap.min.css">
        <script src="jquery.min.js" ></script>
        <script src="popper.min.js" ></script>
        <script src="bootstrap.min.js" ></script>
    </head>
    <body>
        <div class="container">
            <table class="table table-dark table-striped" color="blue">
                <thead>
                    <tr>
                        <th>SID</th>
                        <th>BID</th>
                        <th>Batch Name</th>
                        <th>Exam Date</th>
                       
                        
                    </tr>
                </thead>
                <tbody>
                    <% schedules.forEach(function(scheduletest){%>
                    <tr>
                        <td><%=scheduletest.sid %></td>
                        <td><%=scheduletest.bid %></td>
                        <td><%=scheduletest.batchame %></td>
                        <td><%=scheduletest.examdate %></td>
                        
                    </tr>
                    <%});
                    %>
                </tbody>

            </table>
        </div>
    </body>
</html>